page {
    background: linear-gradient(rgb(255, 248, 237), rgb(255, 210, 125));
}
.top {
    width: 100%;
    height: 130rpx;
    overflow: hidden;
    position: fixed;
    z-index: 1;

    .top_img {
        position: relative;
        top: -180rpx;
        width: 100%;
        height: 1000rpx;
    }

    .title {
        font-size: 20px;
        color: white;
        position: fixed;
        left: 39.5%;
        top: 4%;
    }

    .top_back {
        position: fixed;
        left: 3%;
        top: 5%;
        color: #fff;
    }
}

.input_place{
    border: none;
    width: 100%;
    height: 500rpx;
    position: absolute;
    top:170rpx;
    border-bottom: solid 1px #888888;
    border-top: solid 1px #888888;
    background-color: #fff;
    box-sizing: border-box;
    padding: 40rpx;
    .name{
        border-bottom: solid 1px #888888;
        padding-bottom: 20rpx;
        margin-bottom: 40rpx;
        .name-icon{
            display: inline-block;
            font-size: 46rpx;
            vertical-align:middle;
        }
        .name_input{
            margin-left: 12rpx;
            padding-left:30rpx ;
            display: inline-block;
            vertical-align:middle;
            
        }
    }
    .id{
        border-bottom: solid 1px #888888;
        padding-bottom: 20rpx;
        margin-bottom: 30rpx;
        .id-icon{
            margin-left: -4rpx;
            display: inline-block;
            font-size: 46rpx;
            vertical-align:middle;
        }
        .id_input{
            margin-left: 8rpx;
            padding-left:20rpx ;
            display: inline-block;
            vertical-align:middle;
        }
    }
    .phone{
        border-bottom: solid 1px #888888;
        padding-bottom: 20rpx;
        margin-bottom: 30rpx;
        .phone-icon{ 
            display: inline-block;
            font-size: 52rpx;
            vertical-align:middle;
        }
        .phone_input{ 
            margin-left: 16rpx;
            padding-left:20rpx ;
            display: inline-block;
            vertical-align:middle;
        }
    }
    .room{
        border-bottom: solid 1px #888888;
        padding-bottom: 20rpx;
        margin-bottom: 40px;
        .room-icon{
            margin-left: 2rpx;
            display: inline-block;
            font-size: 50rpx;
            vertical-align:middle;
        }
        .room_input{
            margin-left: 20rpx;
            padding-left:20rpx ;
            display: inline-block;
            vertical-align:middle;           
        }          
    }
}
.input_btn {
    position: fixed;
    top: 720rpx;
    left: 48%;
    transform: translateX(-50%);
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 34rpx;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(255, 70, 70);
    border-color: rgb(255, 70, 70);
    height: 80rpx;
    width:625rpx ;
}
.black{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.ch{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 30%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    .cel{
        position: absolute;
        top: 20rpx;
        left: 30rpx;
        font-size: 36rpx;
        color: #888888;
        }
    .sure{
        position: absolute;
        top: 20rpx;
        right: 30rpx;
        font-size: 36rpx;
        color: rgb(255, 70, 70);
        }
    .room_ch{
        position: relative;
        left: 80rpx;
    }
}

.check{
    border: none;
    width: 100%;
    height: 410rpx;
    position: absolute;
    top:170rpx;
    border-bottom: solid 1px #888888;
    border-top: solid 1px #888888;
    background-color: rgba(0, 0, 0, 0.801);
    box-sizing: border-box;
    padding: 40rpx;
    z-index: 2;

    .check_text{
        color: #fff;
        left: 50%;
        top:50%;
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 40rpx;
        letter-spacing: 2rpx;
    }
}